/*General*/

body
{
    background: linear-gradient(to right bottom, #383D44 24%, #15DEA5  100%);
    background-repeat: no-repeat;
    margin: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: sans-serif;
}

h1
{
    display: flex;
    justify-content: center;
    color: #fff;
}


/**/

.booking
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

/*Part One*/

.partone
{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
}


/*map*/

#map
{
    width: 70%;
    height: 500px;
    border: 1px solid #383D44;
    border-radius: 15px;
    margin-right: 5px;
}

.detail-wrapper
{
    width: 30%;
    margin-left: 5px;
    padding-left: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.detail
{
    position: relative;
    width: 70%;
    margin-left: 5px;
    padding-left: 10px;
    border: 1px solid #383D44;
    border-radius: 10px;
    box-shadow: 3px 3px 5px #383D44;
}

.detail h2
{
    background-color: #383D44;
    color: #fff;
    font-size: 1rem;
    font-weight: normal;
    position: absolute;
    top: -24px;
    left: 10px;
    padding-left: 6px;
    padding-right: 6px;
}

.detail select, .detail label
{
    margin-top: 1em;
}

.form
{
    max-width: 300px;
}

.line
{
    display: flex;
    justify-content: space-between;
    padding-right: 10%;
    margin-top: 0.5rem;
    margin-bottom: 00.5rem;
}
.button
{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 4rem;
}

.button button
{
    height: 2rem;
    width: 6rem;
    border-radius: 15px;
    border: solid 2px #15DEA5;
    color: #15DEA5;
    background-color: #383D44;
    transition: all 450ms;
    transition-delay: 150ms;
    margin: 10px;

}

.button button:hover
{
    border: solid 2px #383D44;
    color :#383D44;
    background-color: #15DEA5;
    transform: scale(1.5);
}

.button #unbook-button
{
    display: none;
}

/*Part Two*/
#parttwo
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    opacity: 0;
}