/*=========================================
General
==========================================*/

body
{
    background-color: #fff;
}

.page-wrap
{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to right bottom,  #2a1f30 35%, #383d44 65%);/*dégradé, à déplacer sur le body?*/
}

/*=========================================
Home Slider
==========================================*/

#home-slider
{
    height: 80vh;
    width: 90vw;
    position: relative;
}

.swiper-container 
{
    height: 100%;
    width: 100%;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6ppx rgba(0, 0, 0, 0.23);
}

.swiper-image-one
{
    background-image: url(./images/left-1.jpg);
}

.swiper-image-two
{
    background-image: url(./images/right-1.jpg);
}

.swiper-image-three
{
    background-image: url(./images/left-2.jpg);
}

.swiper-image-four
{
    background-image: url(./images/right-2.jpg);
}

.swiper-image-five
{
    background-image: url(./images/left-3.jpg);
}

.swiper-image-six
{
    background-image: url(./images/right-3.jpg);
}

.swiper-image
{
    width: 50%;
    height: 100%;
}

.swiper-image-inner
{
    background-size: cover;
    background-position: center center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    background-color: hsla(0, 0%, 0%, 0.2);
    background-blend-mode: overlay;
}

.swiper-image-inner.swiper-image-left
{
    padding: 4rem;
}

.swiper-image-left
{
    filter: sepia(100%);
    transition: all 1s linear;
    transition-delay: 1s;
}

.swiper-slide.swiper-slide-active .swiper-image-left
{
    filter: sepia(0%);
}

.swiper-image-inner.swiper-image-right
{
    filter: hue-rotate(-60deg);
    transition: all 1s linear;
    transition-delay: 1s;
    background-color: hsla(0, 0%, 0%, 0.5);
    background-blend-mode: multiply;
}

h1
{
    font-family: sans-serif;
    font-weight: 500;
    color: #fff;
    align-self: flex-start;
    margin: 0 0 auto 0;
    font-size: 4.5rem;
    line-height: 1;
    transition: all .8s cubic-bezier(0.215, 0.61, 0.355, 1) 1.1s;
    transform: translate3d(-20%, 0, 0);
    opacity: 0;
}

h1 span.emphasis
{
    font-weight: 700;
    font-style: italic;
    opacity: 0;
    transition: all .8s cubic-bezier(0.215, 0.61, 0.355, 1) 1.1s;
    transform: translate3d(-20%, 0, 0);
    display: inline-block;
}

h1 span:not(.emphasis) /*tout ce qui est dans span et qui n'est pas emphasis*/
{
    font-size: 3.5rem;
}

h1 + p
{
    font-family: helvetica;
    font-size: 14px;
    letter-spacing: 2px;
    margin: 0;
    line-height: 1;
    margin-bottom: auto;
    align-self: flex-end;
    text-transform: uppercase;
    transition: all .8s cubic-bezier(0.215, 0.61, 0.355, 1) 1.3s;
    transform: translate3d(-20%, 0, 0);
    opacity: 0;
    font-weight: 500;
    color: #fff;
    padding-right: 8rem;
}

p.paragraph
{
    margin: 0;
    font-family: sans-serif;
    color: #fff;
    width: 100%;
    max-width: 350px;
    text-align: justify;
    font-size: 1.2rem;
    font-weight: 500;
    opacity: 0;
    transition: all .6s cubic-bezier(0.215, 0.61, 0.355, 1) 1.4s;
    transform: translate3d(-20%, 0, 0);
}

.swiper-slide.swiper-slide-active .swiper-image-inner.swiper-image-right
{
    filter: hue-rotate(90deg);
}

.swiper-slide.swiper-slide-active h1,
.swiper-slide.swiper-slide-active p.paragraph,
.swiper-slide.swiper-slide-active span.emphasis,
.swiper-slide.swiper-slide-active h1 + p
{
    transform: translate3d(0, 0, 0);
    opacity: 1;
}

.swiper-container
{
    margin-left: auto;
    margin-right: auto;
    position: relative;
    overflow: hidden;
    z-index: 1; /*fix of webkit flickering*/
}

.swiper-container-no-flexbox .swiper-wrapper
{
    float: left;
}

.swiper-container-vertical > .swiper-wrapper
{
    -webkit-box-orient: vertical;
    -moz-box-orient: vertical;
    -ms-flex-direction: column;
    -webkit-flex-direction: column;
    flex-direction: column;
}

.swiper-wrapper
{
    position: relative;
    width: 100%;
    height: 100%;
    z-index: 1;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-transition-property: -webkit-transform;
    -moz-transition-property: -moz-transform;
    -o-transition-property: -o-transform;
    -ms-transition-property: -ms-transform;
    transition-property: transform;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
}

.swiper-container-android .swiper-slide, .swiper-wrapper 
{
    -webkit-transform: translate3d(0px, 0, 0);
    -moz-transform: translate3d(0px, 0, 0);
    -o-transform: translate(0px, 0px);
    -ms-transform: translate3d(0px, 0, 0);
    transform: translate3d(0px, 0, 0);
}

.swiper-container-multirow > .swiper-wrapper 
{
    -webkit-box-lines: multiple;
    -moz-box-lines: multiple;
    -ms-flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
}

.swiper-container-free-mode > .swiper-wrapper 
{
    -webkit-transition-timing-function: ease-out;
    -moz-transition-timing-function: ease-out;
    -ms-transition-timing-function: ease-out;
    -o-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
    margin: 0 auto;
}

.swiper-slide 
{
    -webkit-flex-shrink: 0;
    -ms-flex: 0 0 auto;
    flex-shrink: 0;
    width: 100%;
    height: 100%;
    position: relative;
    background-color: #fff;
    overflow: hidden;
    display: flex;
}

/*=========================================
Auto Height
==========================================*/

.swiper-container-autoheight, .swiper-container-autoheight .swiper-slide 
{
    height: auto;
}

.swiper-container-autoheight .swiper-wrapper 
{
    -webkit-box-align: start;
    -ms-flex-align: start;
    -webkit-align-items: flex-start;
    align-items: flex-start;
    -webkit-transition-property: -webkit-transform, height;
    -moz-transition-property: -moz-transform;
    -o-transition-property: -o-transform;
    -ms-transition-property: -ms-transform;
    transition-property: transform, height;
}

